*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #0a0a16;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3b3b;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #767576; 
}
.parent{
  display: none;
}
h1 {
  color: #f62c98;
  position: relative;
  top: 25%;
  font-size: 3rem;
  font-family: sans-serif;
}
#base{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 34%;
  width: 25%;
  height: 3px;
  background-color: #26101c;
}
.container {
  width: 40%;
  /* min-width: 450px; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 50%;
  border-radius: 10px;
  background-color: #232121;
  max-height: 53vh;
  overflow-y: scroll;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
#search{
  background-color: rgba(4, 3, 14, 0.2);
  padding: 6.5px;
  border: none;
  outline: none;
  color: #038995;
}
.search>input{
  background-color: rgba(4, 3, 14, 0.2);
  border: 1px solid #232121;
  width: 70%;
  outline: none;
  padding: 12px;
  position: relative;
  caret-color: whitesmoke;
  color: white;
  font-size: 16px;
  
}
.search>input:focus {
  outline: none;
  border-bottom: 1px solid #004b74;
}
#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  /* border: 2px solid #d1d3d4; */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #834f6b;
  padding: 12px;
  color: #ececec;
  font-weight: 500;
  position: relative;
  caret-color: #f62c98;
}

#newtask input:focus {
  outline: none;
  border-bottom: 1px solid #f62c98;
}

#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #f62c98;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
  outline: none;
}
#tasks {
  background-color: #232121;
  border-radius: 16px;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
/*  */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: 2spx;
  position: relative;
  background-color: rgb(240, 240, 240);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #72cbcd;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #72cbcd;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid rgb(240, 240, 240);
  filter: drop-shadow(0 0 5px rgb(124, 221, 238));
}
/*  */
.task {
  background: #4e4d4d;
  border-radius: 16px;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  color: rgb(255, 255, 255);
}
.task span {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.task button {
  background-color: #22b387;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.completed {
  text-decoration: line-through;
}
/* search */
.filtred{
  display: none;
}

@media screen and (max-width: 950px) {
  .container{
    width: 90%;
    top: 55%;
  }
  h1{
    top: 10%;
  }
  #base{
    top: 19%;
    width: 80%;
  }
}
/* preloader */
.preloader{
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader span{
  color: #f62c98;
  font-size: 50px;
  animation: animate  alternate-reverse infinite 0.6s;
  transition: ease-in 0.6s;
}
@keyframes animate {
  0%{opacity: 0;
      transform: scale(0.5);}
      25%{
        opacity: 0.5;
        scale: 1;
      }
      /* 50%{
  opacity: 0;
  scale: 10;
      } */
}
.gone{
  animation: none;
  opacity: 0;
  transform: scale(10);
  transition: ease-in 0.6s;
}